.Home {
  text-align: center;
  background-color: #494b50;
  min-height: 100vh
}

.Home-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home-header-button {
  position: absolute;
  margin-right: 90%;
  margin-top: 1.5vh;
}

.Home-header-text {
  text-align: center;
  margin-top: 1.5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-messageList {
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 55px;
}

.Home-form {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  width: 100%;
}